.ReportDay {
    display: flex;
    margin-bottom: 23px;
    margin-top: 14px;
    position: relative;
}

.ReportDayRow {
    display: flex;
    margin-top: 9px;
    position: relative;
}

.ReportDayRow:first-child {
    margin-top: 0;
}

.report-day-rows {
    flex-grow: 1;
}

.add-row {
    position: absolute;
    left: -50px;
}

.ReportDayRowMenu {
    position: absolute;
    right: -52px;
    display: flex;
    align-items: center;
    height: 26px;
    z-index: 100;
}

.menu-options {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    transition: max-width ease-in-out 200ms;
    max-width: 0px;
    margin-right: 16px;
    visibility: hidden;
}

.menu-options.open {
    max-width: 500px;
    visibility: visible;
}

.menu-options ul {
    display: flex;
    list-style: none;
    margin:0;
    padding:0;
    overflow: hidden;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.menu-options ul li {
    margin: 0 10px;
    text-decoration: underline;
    color: #989898;
    font-size: 12px;
    cursor: pointer;
}

.row-remove {
    white-space: nowrap;
    margin-left: 30px !important;
}

.row-remove > * {
    vertical-align: middle;
    margin-left: 2px;
}

