.Input {
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 3px;
}

.Input input, .Input textarea {
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    display: block;
    height: 16px;
}

.Input textarea {
    resize: none;
}