.ReportHead {
    display: flex;
    align-items: center;
}

.week-prev, .week-next {
    cursor: pointer;
}

.week-prev img, .week-next img {
    display: block;
    transition: transform ease-in-out 100ms;
}

.week-prev img:hover, .week-next img:hover {
    transform: scale(1.3);
}

.week-title {
    margin-left: 12px;
    margin-right: 12px;
    flex-grow: 1;
}